<h2>{asunto}</h2>
<p>Enviado el {fecha_envio}</p>
<p><strong>Antes de 48 horas vaya a este URL para cambiar su contraseña:</strong></p>
<ul>
    <li>{verificacion_url}</li>
</ul>
<p>Este mensaje fue enviado por un programa. <em>NO RESPONDA ESTE MENSAJE.</em></p>