<div style="display:none;max-height:0px;overflow:hidden">Cancelaste con éxito tu cita</div>
<div style="display:none;max-height:0px;overflow:hidden"><ul></ul></div>
<div>
<center style="width: 100%; background-color: #e7e7e7;">
    <div style="max-width:600px;margin:0 auto;padding:0px">
        <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important;padding:30px 0;margin:auto">
            <tbody><tr>
                <td style="background: #252b50;">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important">
                        <tbody>
                        <tr>
                            <td style="padding:30px">
                                <img src="PJECZ_horizontal.png" alt="Logo PJECZ" border="0" style="height:70px; width:auto; margin:auto;display:block;float:left">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 20px; background-color: #b02a37;">
                                <h3 style="text-align: left; font-family: helvetica, arial; font-weight: 400; font-size: 30px; line-height: 36px; color: rgb(255, 255, 255); padding: 0px; margin: 0px;">
                                    Cita cancelada con éxito en el sistema de citas del PJECZ
                                </h3>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background: rgb(255, 255, 255); padding: 0px 20px 20px; --darkreader-inline-bgcolor: var(--darkreader-background-ffffff, #181a1b); --darkreader-inline-bgimage: none;" data-darkreader-inline-bgcolor="" data-darkreader-inline-bgimage="">
                    <h2 style="text-align: left; font-family: helvetica, arial; font-weight: 400; font-size: 21px; line-height: 28px; color: rgb(51, 51, 51); padding: 5px 0px 0px; margin: 20px 0px; ">
                        Hola, <strong>{{nombre_cliente}}</strong>
                    </h2>
                    <h4 style="text-align: left; font-family: helvetica, arial; font-size: 18px; line-height: 24px; font-weight: 400; color: rgb(51, 51, 51); padding: 0px; margin: 0px; ">
                        Te mostramos la información detallada de tu cita:
                    </h4>
                </td>
            </tr>
            <tr>
                <td style="background: rgb(255, 255, 255); padding: 0px 20px 20px; --darkreader-inline-bgcolor: var(--darkreader-background-ffffff, #181a1b); --darkreader-inline-bgimage: none;" data-darkreader-inline-bgcolor="" data-darkreader-inline-bgimage="">
                    <div style="padding: 10px 15px 5px; border-radius: 15px; background: rgb(241, 241, 241); --darkreader-inline-bgcolor: var(--darkreader-background-f1f1f1, #202324); --darkreader-inline-bgimage: none;" data-darkreader-inline-bgcolor="" data-darkreader-inline-bgimage="">
                        <table role="presentation " cellspacing="0" cellpadding="0" border="0" width="100%" style="border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important">
                            <tbody>
                            <tr>
                                <td style="padding: 5px 0px; border-bottom: 1px solid lightgrey; font-family: helvetica, arial; ">
                                    <h4 style="text-align: left; font-size: 16px; line-height: 20px; font-weight: 400; color: rgb(51, 51, 51); padding: 5px 5px 10px; margin: 0px;">
                                        🎟️ ID:</h4>
                                    <h4 style="text-align: left; font-family: helvetica, arial; font-size: 26px; line-height: 30px; font-weight: 400; color: rgb(51, 51, 51); padding: 0px 5px 5px; margin: 0px; ">
                                        {{id}}</h4>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px 0px; border-bottom: 1px solid lightgrey; font-family: helvetica, arial; ">
                                    <h4 style="text-align: left; font-size: 16px; line-height: 20px; font-weight: 400; color: rgb(51, 51, 51); padding: 5px 5px 10px; margin: 0px;">
                                        🏢 Oficina:</h4>
                                    <h4 style="text-align: left; font-family: helvetica, arial; font-size: 26px; line-height: 30px; font-weight: 400; color: rgb(51, 51, 51); padding: 0px 5px 5px; margin: 0px; ">
                                        {{oficina}}</h4>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px 0px; border-bottom: 1px solid lightgrey; --darkreader-inline-border-bottom: var(--darkreader-border-b0b0b0, #464c4f)">
                                    <h4 style="text-align: left; font-family: helvetica, arial; font-size: 16px; line-height: 20px; font-weight: 400; color: rgb(51, 51, 51); padding: 5px 5px 10px; margin: 0px; ">
                                        📋 Servicio:</h4>
                                    <h4 style="text-align: left; font-family: helvetica, arial; font-size: 26px; line-height: 30px; font-weight: 400; color: rgb(51, 51, 51); padding: 0px 5px 5px; margin: 0px; ">
                                        {{servicio}}</h4>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px 0px; border-bottom: 1px solid lightgrey; font-family: helvetica, arial; ">
                                    <h4 style="text-align: left; font-size: 16px; line-height: 20px; font-weight: 400; color: rgb(51, 51, 51); padding: 5px 5px 10px; margin: 0px;">
                                        📅 Fecha y hora de la cita agendada:</h4>
                                    <h4 style="text-align: left; font-family: helvetica, arial; font-size: 26px; line-height: 30px; font-weight: 400; color: rgb(51, 51, 51); padding: 0px 5px 5px; margin: 0px; ">
                                        {{fecha_hora_cita}}</h4>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px 0px; font-family: helvetica, arial; ">
                                    <h4 style="text-align: left; font-size: 16px; line-height: 20px; font-weight: 400; color: rgb(51, 51, 51); padding: 5px 5px 10px; margin: 0px;">
                                        📝 Notas:</h4>
                                    <h4 style="text-align: left; font-family: helvetica, arial; font-size: 20px; font-weight: 400; color: rgb(51, 51, 51); padding: 0px 5px 5px; margin: 0px; ">
                                        {{notas}}</h4>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="background: rgb(255, 255, 255); padding: 0px 20px 20px; text-align: center; font-family: helvetica, arial; font-size: 18px; color: rgb(51, 51, 51);">
                    <h4 style="padding: 0; margin: 0;">Confirmamos que tu cita se canceló correctamente</h4>
                    <h4 style="font-size: 16px; line-height: 20px; font-weight: 400; color: rgb(51, 51, 51); padding: 5px; margin: 0px;">
                    🚫 Fecha y hora de cancelación</h4>
                    <h4 style="font-family: helvetica, arial; font-size: 20px; line-height: 30px; font-weight: 400; color: rgb(51, 51, 51); padding: 0px 5px 5px; margin: 0px; ">
                    {{fecha_hora_cancelacion}}</h4>
                </td>
            </tr>
            <tr>
                <td style="background: rgb(255, 255, 255); padding: 0px 20px 40px;">
                    <div style="padding: 10px 15px 5px; border-radius: 15px; background-color: #cfe2ff; border-left: 5px solid #0d6efd;">
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important">
                            <tbody>
                            <tr>
                                <td style="padding: 5px 0px; color: #0d6efd;">
                                    <h4 style="text-align: left; font-family: helvetica, arial; font-size: 20px; font-weight: bold; padding: 5px 5px 10px; margin: 0px; ">
                                        👋 Gracias por hacer buen uso del sistema de citas</h4>
                                    <h4 style="text-align: left; color: #6ea8fe; font-family: helvetica, arial; font-size: 16px; font-weight: 100; padding: 5px; margin: 0px; ">
                                        Ya no debes asistir a tu cita. Haz dejado lugar para otra persona.</h4>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important;">
                    <tbody>
                    <tr>
                        <td style="background: #252b50; color:burlywood; padding: 10px; text-align: center; font-family: helvetica, arial; font-size: x-small;">© 2026 Todos los derechos reservados. Términos y condiciones</td>
                    </tr>
                    <tr>
                        <td style="color: gray; padding: 10px 10px 40px 10px; text-align: center; font-style: italic; font-family: helvetica, arial; font-size: small;">Este correo fue generado automáticamente, favor de no contestar</td>
                    </tr>
                    </tbody>
                </table>
            </tr>
        </tbody>
    </table>
</div>
</center>
</div>
</div>